<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ToDo List</title>
</head>


<body>

	<h1> <%= to_day %> ToDo List </h1>
	<hr>

	<li>Go to market.</li>
	<li>Buy some fruits.</li>
	<li>Do some shopping.</li>

	<% for(let i=0; i<new_items_array.length; i++){ %>
		<li> <%= new_items_array[i] %> </li>
	<% } %>

	<form action="/" method="post">
		<input type="text" name="newItem" placeholder="Add item" autocomplete="off">
		<button type="submit">+</button>
	</form>

</body>
</html>