<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ToDo List</title>
</head>


<body>

	<h1> <%= to_day %> ToDo List </h1>
	<h3> It's a <%= day_type %>. </h3>
	<hr>


	<% if((to_day == 'Friday') || (to_day == 'Saturday')){ %>
		<h1 style="color:green"> <%= to_day %> ToDo List</h1>
	<% }else{ %>
		<h1 style="color:blue"> <%= to_day %> ToDo List</h1>
	<% } %>

</body>
</html>